body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  background-color: #fafafa;
}
.app__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 15px;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}
.signupmodal__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.app_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}
.app__upload {
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  border-top: 1px solid lightgray;
}

.post__comment {
  display: flex;
}
.post__comment_input {
  flex: 1;
}
.post__comment_button {
  flex: 0;
}
